<h3>スケジュール詳細</h3>
 
    <table>
      <tr>
        <th>タイトル</th>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <th>開始日</th>
        <td><%= @post.start_date %></td>
      </tr>
      <tr>
        <th>投稿日時</th>
        <td><%= @post.created_at.to_s(:datetime_jp) %></td>
      </tr>
      <tr>
        <th>終日</th>
        <td>
            <% if @post.allday %>
                <%= "○" %>
            <% else %>
                <%= "" %>
            <% end %>
        </td>
      </tr>
      <tr>
        <th>スケジュールメモ</th>
        <td><%= @post.contents %></td>
      </tr>
    </table>
 
    <div>
      <ul>
        <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
      </ul>
      <ul>
        <li><%= link_to("スケジュールを編集する","/posts/#{@post.id}/edit") %></li>
      </ul>
      <ul>
        <li><%= link_to("スケジュールを削除する","/posts/#{@post.id}/destroy",method::delete)  %></li>
      </ul>
    </div>